<nb-card>
  <nb-card-header>New Enquiry</nb-card-header>
  <nb-card-body>
    <form *ngIf="!loader" (ngSubmit)="addStudent()" #form="ngForm" aria-labelledby="title" class="col-sm-12" [formGroup]="studentForm">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="studyyear">Study Year:</label>
            <div class="col-sm-9">
              <div formControlName="study_year" name="studyyear" ngbRadioGroup (change)="onYearChange(dialog)" class="btn-group btn-group-toggle btn-outline-toggle-group btn-toggle-radio-group">
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="2019-20"> 2019 - 2020
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="2020-21"> 2020 - 2021
                </label>
              </div>
              <ng-container *ngIf="!studentForm.controls.study_year.valid  && (studentForm.controls.study_year.dirty || submitAttempt)">
                <p class="error-message">
                  Study Year is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Gender">Gender:</label>
            <div class="col-sm-9">
              <div formControlName="gender" name="Gender" ngbRadioGroup class="btn-group btn-group-toggle btn-outline-toggle-group btn-toggle-radio-group">
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="Male"> Male
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="Female"> Female
                </label>
              </div>
              <ng-container *ngIf="!studentForm.controls.gender.valid  && (studentForm.controls.gender.dirty || submitAttempt)">
                <p class="error-message">
                  Gender is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Name">Name:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="name" name="Name" type="text" id="Name" class="form-control" placeholder="Name" required>
              <ng-container *ngIf="!studentForm.controls.name.valid  && (studentForm.controls.name.dirty || submitAttempt)">
                <p class="error-message">
                  Name is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="parentname">Parent Name:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="parent_name" name="parentname" type="text" id="parentname" class="form-control" placeholder="Parent Name"
                required>
              <ng-container *ngIf="!studentForm.controls.parent_name.valid  && (studentForm.controls.parent_name.dirty || submitAttempt)">
                <p class="error-message">
                  Parent Name is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="emailid">Email ID:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="email_id" name="emailid" type="email" id="emailid" class="form-control" placeholder="Email ID"
                required (change)="onEmailChange(dialog)">
              <ng-container *ngIf="!studentForm.controls.email_id.valid  && (studentForm.controls.email_id.dirty || submitAttempt)">
                <p class="error-message">
                  Email ID is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Dob">DOB:</label>
            <div class="col-sm-9">
              <input nbInput name="Dob" type="date" id="Dob" class="form-control" placeholder="Name" required displayFormat="DD/MMM/YYYY"
                (change)="onDobChange(dialog)" pickerFormat="DD MMM YYYY" formControlName="dob">
              <ng-container *ngIf="!studentForm.controls.dob.valid  && (studentForm.controls.dob.dirty || submitAttempt)">
                <p class="error-message">
                  Please select valid date
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 form-control-group form-group row">
          <label class="col-sm-6 form-control-label">Age (today):</label>
          <div class="col-sm-6" style="float: right;font-weight: bold;padding-top: 15px;font-size: 18px;">
            <span class="numbering">{{ today_age_years }} . {{ today_age_months }}</span>
          </div>
        </div>
        <div class="col-sm-5">
          <label class="col-sm-8 form-control-label">Age ({{ month_date }}):</label>
          <div class="col-sm-4" style="float: right;font-weight: bold;padding-top: 15px;font-size: 18px;">
            <span class="numbering">{{ month_age_years }} . {{ month_age_months }}</span>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="col-sm-6 form-control-label">Class:</label>
          <div class="col-sm-6" style="float: right;font-weight: bold;padding-top: 15px;font-size: 18px;">
            <span class="numbering">{{ class_group }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="phonenumber">Phone Number:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="phone_number" name="phonenumber" type="number" id="phonenumber" class="form-control" placeholder="Phone Number"
                required (change)="onPhoneChange(dialog)">
              <ng-container *ngIf="!studentForm.controls.phone_number.valid  && (studentForm.controls.phone_number.dirty || submitAttempt)">
                <p class="error-message">
                  Phone Number is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="alternatecontact">Alternate Contact:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="alternate_contact" name="alternatecontact" type="number" id="alternatecontact" class="form-control"
                placeholder="Alternate Contact" (change)="onPhoneChange(dialog)">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Locality">Locality:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="locality" name="Locality" type="text" id="Locality" class="form-control" placeholder="Locality"
                required (change)="onLocalityChange($event)">
              <ng-container *ngIf="!studentForm.controls.locality.valid  && (studentForm.controls.locality.dirty || submitAttempt)">
                <p class="error-message">
                  Location is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <a *ngFor="let loc of locationOptions" (click)="onLocSelect(loc.description)">
            <p>{{loc.description}}</p>
          </a>
        </div>
      </div>

      <!-- <ion-toolbar color="primary" class="upload_button">
        <ion-buttons>
          <button ion-button icon-left (click)="getPicture()">
              <ion-icon name="camera"></ion-icon>Select Image
            </button>
          <input type="file" #fileInput name="files[]" style="visibility: hidden; height: 0px" (change)="processWebImage($event)" />
        </ion-buttons>
      </ion-toolbar> -->

      <button nbButton status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        SAVE
      </button>
    </form>
    <div *ngIf="loader">
      <nb-card [nbSpinner]="true" nbSpinnerSize="xxlarge">
        <nb-card-body> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Similar Enquiry Found</nb-card-header>
    <nb-card-body>
      <div [innerHTML]="data"></div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close()">Cancel</button>&nbsp;
      <button nbButton status="success" (click)="ref.close();handler()">Submit</button>
    </nb-card-footer>
  </nb-card>
</ng-template>