<nb-card>
  <nb-card-header>
    EDIT STUDENT (Admin)
  </nb-card-header>

  <nb-card-body>

    <div *ngIf="isLoading">
      <nb-card [nbSpinner]="true" nbSpinnerSize="xxlarge">
        <nb-card-body> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> </nb-card-body>
      </nb-card>
    </div>

    <form *ngIf="!isLoading" (ngSubmit)="confirmStudent()" #form="ngForm" aria-labelledby="title" class="col-sm-12" [formGroup]="studentForm">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Name">Name:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="name" name="Name" type="text" id="Name" class="form-control" placeholder="Name" required>
              <ng-container *ngIf="!studentForm.controls.name.valid  && (studentForm.controls.name.dirty || submitAttempt)">
                <p class="error-message">
                  Name is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="parentname">Parent Name:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="parent_name" name="parentname" type="text" id="parentname" class="form-control" placeholder="Parent Name"
                required>
              <ng-container *ngIf="!studentForm.controls.parent_name.valid  && (studentForm.controls.parent_name.dirty || submitAttempt)">
                <p class="error-message">
                  Parent Name is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="studyyear">Study Year:</label>
            <div class="col-sm-9">
              <select formControlName="study_year" name="studyyear" class="form-control" (change)="onYearChange()">
                <option value="2016-17"> 2016 - 2017 </option>
                <option value="2017-18"> 2017 - 2018 </option>
                <option value="2018-19"> 2018 - 2019 </option>
                <option value="2019-20"> 2019 - 2020 </option>
                <option value="2020-21"> 2020 - 2021 </option>
                <option value="2021-22"> 2021 - 2022 </option>
                <option value="2022-23"> 2022 - 2023 </option>
              </select>
              <ng-container *ngIf="!studentForm.controls.study_year.valid  && (studentForm.controls.study_year.dirty || submitAttempt)">
                <p class="error-message">
                  Study Year is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Gender">Gender:</label>
            <div class="col-sm-9">
              <div formControlName="gender" name="Gender" ngbRadioGroup class="btn-group btn-group-toggle btn-outline-toggle-group btn-toggle-radio-group">
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="Male"> Male
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="Female"> Female
                </label>
              </div>
              <ng-container *ngIf="!studentForm.controls.gender.valid  && (studentForm.controls.gender.dirty || submitAttempt)">
                <p class="error-message">
                  Gender is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="emailid">Email ID:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="email_id" name="emailid" type="email" id="emailid" class="form-control" placeholder="Email ID"
                required (change)="onEmailChange()">
              <ng-container *ngIf="!studentForm.controls.email_id.valid  && (studentForm.controls.email_id.dirty || submitAttempt)">
                <p class="error-message">
                  Email ID is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Dob">DOB:</label>
            <div class="col-sm-9">
              <input nbInput name="Dob" type="date" id="Dob" class="form-control" placeholder="Name" required displayFormat="DD/MMM/YYYY"
                pickerFormat="DD MMM YYYY" formControlName="dob">
              <ng-container *ngIf="!studentForm.controls.dob.valid  && (studentForm.controls.dob.dirty || submitAttempt)">
                <p class="error-message">
                  Please select valid date
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="phonenumber">Phone Number:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="phone_number" name="phonenumber" type="number" id="phonenumber" class="form-control" placeholder="Phone Number"
                required (change)="onPhoneChange()">
              <ng-container *ngIf="!studentForm.controls.phone_number.valid  && (studentForm.controls.phone_number.dirty || submitAttempt)">
                <p class="error-message">
                  Phone Number is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="alternatecontact">Alternate Contact:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="alternate_contact" name="alternatecontact" type="number" id="alternatecontact" class="form-control"
                placeholder="Alternate Contact" required (change)="onPhoneChange()">
              <ng-container *ngIf="!studentForm.controls.alternate_contact.valid  && (studentForm.controls.alternate_contact.dirty || submitAttempt)">
                <p class="error-message">
                  Alternate Contact is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="classgroup">Class Group:</label>
            <div class="col-sm-9">
              <select formControlName="class_group" name="classgroup" class="form-control">
                <option value="Play Group"> Play Group </option>
                <option value="Nursery"> Nursery </option>
                <option value="LKG"> LKG </option>
                <option value="UKG"> UKG </option>
              </select>
              <ng-container *ngIf="!studentForm.controls.class_group.valid  && (studentForm.controls.class_group.dirty || submitAttempt)">
                <p class="error-message">
                  Class Group is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="classtype">Class Type:</label>
            <div class="col-sm-9">
              <select formControlName="class_type" name="classtype" class="form-control">
                <option value="Annual">Annual</option>
                <option value="Mid-term">Mid-term</option>
                <option value="Early start">Early start</option>
              </select>
              <ng-container *ngIf="!studentForm.controls.class_type.valid  && (studentForm.controls.class_type.dirty || submitAttempt)">
                <p class="error-message">
                  Class Type is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="uniformsize">Uniform Size:</label>
            <div class="col-sm-9">
              <select formControlName="uniform_size" name="classgroup" class="form-control">
                <option value=""> NA </option>
                <option value="18"> 18 </option>
                <option value="20"> 20 </option>
                <option value="22"> 22 </option>
                <option value="24"> 24 </option>
                <option value="26"> 26 </option>
                <option value="28"> 28 </option>
                <option value="30"> 30 </option>
                <option value="32"> 32 </option>
              </select>
              <ng-container *ngIf="!studentForm.controls.uniform_size.valid  && (studentForm.controls.uniform_size.dirty || submitAttempt)">
                <p class="error-message">
                  Uniform Size is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="shoesize">Shoe Size:</label>
            <div class="col-sm-9">
              <select formControlName="shoe_size" name="shoesize" class="form-control">
                <option value=""> NA </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
                <option value="9"> 9 </option>
                <option value="10"> 10 </option>
                <option value="11"> 11 </option>
                <option value="12"> 12 </option>
                <option value="13"> 13 </option>
              </select>
              <ng-container *ngIf="!studentForm.controls.shoe_size.valid  && (studentForm.controls.shoe_size.dirty || submitAttempt)">
                <p class="error-message">
                  Shoe Size is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-control-group form-group row">
            <label class="col-sm-3 form-control-label" for="Locality">Locality:</label>
            <div class="col-sm-9">
              <input nbInput formControlName="locality" name="Locality" type="text" id="Locality" class="form-control" placeholder="Locality"
                required (change)="onLocalityChange($event)">
              <ng-container *ngIf="!studentForm.controls.locality.valid  && (studentForm.controls.locality.dirty || submitAttempt)">
                <p class="error-message">
                  Location is required!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <li *ngFor="let loc of locationOptions" (click)="onLocSelect(loc.description)">
            <p>{{loc.description}}</p>
          </li>
        </div>
      </div>

      <!-- <ion-toolbar color="primary" class="upload_button">
        <ion-buttons>
          <button ion-button icon-left (click)="getPicture()">
              <ion-icon name="camera"></ion-icon>Select Image
            </button>
          <input type="file" #fileInput name="files[]" style="visibility: hidden; height: 0px" (change)="processWebImage($event)" />
        </ion-buttons>
      </ion-toolbar> -->

      <button nbButton status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
        SAVE
      </button>
    </form>

  </nb-card-body>
</nb-card>